{
  "presets": ["react-native"],
  "sourceMaps": true,
  "plugins": [
    "transform-decorators-legacy",
    "functional-hmr",
    ["module-resolver", {
      "alias": {
        "macaddress": "./src/macaddress.js",
        "vm": "./node_modules/vm-browserify",
        "http": "./node_modules/stream-http",
        "https": "./node_modules/https-browserify",
        "path": "./node_modules/path-browserify",
        "tls": "./node_modules/path-browserify",
        "fs": "./node_modules/path-browserify",
        "net": "./node_modules/https-browserify",
        "zlib": "./node_modules/browserify-zlib",
        "stream": "./node_modules/stream-browserify",
        "crypto": "./node_modules/node-libs-react-native/node_modules/react-native-crypto",
        "^redux/ui(.*)$": "./src/redux/ui\\1",
        "utils/IPFS.*$": "./src/utils/IPFS",
        "^redux/(.+)$": "@chronobank/mint/src/redux/\\1",
        "services": "@chronobank/mint/src/services",
        "dao": "@chronobank/mint/src/dao",
        "models": "@chronobank/mint/src/models",
        "utils": "@chronobank/mint/src/utils",
        "platform": "@chronobank/mint/src/platform",
        "market": "@chronobank/mint/src/market",
        "user": "@chronobank/mint/src/user"
      }
    }]
  ]
}
