{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "alias": {
        "@components": "./src/components",
        "@styleConstants": "./src/styleConstants.js",
        "@images": "./src/assets/images",
        "@icons": "./src/assets/icons"
      }
    }]
  ]
}
