{
  "extends": ["plugin:chronobank-react/recommended"],
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "react/prop-types": 0,
    "global-require": 0
  }
}
